[submodule "webserver"]
	path = webserver
	url = https://github.com/UCSD-E4E/MMICT-web_server.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/UCSD-E4E/MMICT-frontend.git
[submodule "classification-service"]
	path = classification-service
	url = https://github.com/UCSD-E4E/MMICT-classification_service.git
[submodule "ip-service"]
	path = ip-service
	url = https://github.com/UCSD-E4E/MMICT-ip_service.git
